{%extends 'registration/base.html'%}
{% load bootstrap4 %}

{% block content %}

<div class="container">
    <div class="box">
        <div class="text-center">
        <div class="title">
            <h3>Create a profile to start using Awwards</h3>
        </div>
        <hr>
        </div>
        <form action="{%url 'create_profile'%}" method="post" enctype="multipart/form-data">
            {%csrf_token%}    
            {% bootstrap_form form%}
            <input type="submit" class="btn btn-dark " value="Create Profile">
        </form>
    </div>
</div>
{% endblock %}